@import url("/css/vars.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font--);
    color: var(--color--text);
}

header {
    display: flex;
    background-color: var(--color-secondary-background);
    align-items: center;
    padding: 0.5% 1%;
}


nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header-img {
    width: auto;
    height: 18vh;
}

.header-button {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.header-button- {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color--text);
    background-color: var(--color-primary);
    padding: 1em;
    border-radius: 2em;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.header-button-:hover {
    background-color: #604f3b;
    transition-duration: 1s;
}

.container {
    display: flex;
    margin: 5rem;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content {
    display: block;
    margin-left: 1rem;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color--text);
}

h2 {
    font-size: 1.5rem;
}

h3 {
    position: absolute;
    font-size: 24px;
    color: #f29829;
    top: 10%;
    left: 40%;
    transform: translate(-30%, -30%);
}

p {
    font-size: 1.5rem;
}

li {
    font-size: 1.3rem;
    margin-left: 2rem;
}

.div-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.button_ {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    border-radius: 10rem;
    background-color: var(--color-primary);
    color: var(--color--text);
}

.button_:hover {
    background-color: #604f3b;
    transition-duration: 1s;
}

footer {
    background-color: var(--color-secondary-background);
    width: 100%;
}


.footer-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    margin-left: 1rem;
}

.footer-block-text {
    color: var(--color-primary);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.footer-block-text:hover {
    color: #604f3b;
    transition-duration: 1s;
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .content {
        display: block;
        font-size: 1rem;
        text-align: justify;
        margin: 0;
    }
}