@import url("/css/vars.css");

.auth-card-form {
    background-color: var(--color-primary);
    padding: 1em;
    border-radius: 10px;
    box-shadow: 10px 10px 20px var(--color-secondary-shadow);
    max-width: 80%;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin: auto;
}

.auth-card-form legend {
    color: var(--color-secondary);
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 30px;
}


/* Responsiveness Section */

@media (max-width: 1300px) {
    .auth-card-form {
        margin: auto 20%;
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 660px) {
    .auth-card-form {
        margin: 100px 0 0;
        border-radius: 0;
    }
}
