@import url("/css/vars.css");
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

@font-face {
    font-family: var(--font);
    src: url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
 }

.base-page-body {
    margin-left: 250px;
    height: 100vh;
    background-color: var(--color-grey);
    justify-items: center;
}

.base-page-main {
    width: 100%;
    padding: 30px 20% 3.5em;
}

h1 {
    font-size: var(--font-size-h1);
}

/* Responsiveness Section */

@media (max-width: 1100px) {
    .base-page-main {
        padding: 30px 30px 3.5em;
    }
}

@media (max-width: 750px) {
    .base-page-body {
        margin-left: 60px;
    }
}