@import url("/css/vars.css");

.div-purple {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
}

.div-form {
    display: flex;
    width: 80vh;
    height: auto;
    background-color: var(--color-secondary-background);
    padding: 2rem 0rem;
    border-radius: 5rem;
    padding-left: 2rem;
}

.div-text-alterar {
    display: flex;
    margin-bottom: 1rem;
    align-items: initial;
    font-size: 1.7rem;
    color: var(--color-primary);
}

.column {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

input {
    padding: 0.5em 4em 0.5em 4em;
    border-radius: 1em;
}

.button-alterar {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 0.5em 2em 0.5em 2em;
    border-radius: 2em;
    font-size: 1em;
    margin-top: 1em;
    font-weight: bold;
    cursor: pointer;
}

.button-alterar:hover {
    background-color: #604f3b;
    transition-duration: 1s;
}