
.content-card {
    width: 100%;
    background-color: var(--color-grey);
    border-radius: 20px;
    padding: 20px 25px;
    border: 2px solid var(--color-primary);
    list-style: none;
}

@media (max-width: 570px) {
    .content-card {
        padding: 15px 20px;
    }
}