@import url("/css/vars.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

body {
  position: relative;
  background-color: #dfdfdff6;
  font-family: Arial, sans-serif;
}

body {
  background-color: #dfdfdff6;
  -webkit-font-smothing: antialiased !important;

}