body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    background-image: url('../img/fundo.png'); 
    background-size: cover; 
    background-position: relative;
    background-repeat: no-repeat;        
}


.purple-overlay {
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    height: 20%;
    background-color: rgba(58, 35, 140, 20); 
    z-index: 1; 
}

.logo {
    position: absolute;
    top: 3px; 
    left: 9px; 
    width: 119px; 
    height: auto;
}


form {
    background-color: #f29829;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(128, 0, 128, 0.6);
    max-width: 300px;
    width: 100%;
    text-align: center;
    height: 40%; 
    margin-top: 100px;
}


legend {
    color: #3a238c;
    font-size: 1.6em; 
    font-weight: bold; 
    margin-bottom: 9px; 
}


p {
    font-size: 1em;
    margin-bottom: 5px;
    color: #3a238c;
    font-weight: bold;
}

.sublinhado {
    text-decoration: underline;
}

.sublinhado:hover {
    color: black; 
}


input[type="email"] {
    width: 90%;
    padding: 10px;
    margin: 0.5em 0; 
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    align-items: center;
    font-weight: bold;
}


a {
    text-decoration: none;
    color: #3a238c;
    font-size: 14px;
    text-decoration: underline;
}

input[type="email"] {
    font-family: inherit;
    font-size: 15px;
    font-weight: normal;
    text-decoration: none;
}

input[type="submit"] {
    padding: 10px 10px;
    background-color: #f29829;
    color: #3a238c;
    border: 3px solid #3a238c;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}


input[type="submit"]:hover {
    background-color: #F27C38;
}


input[type="submit"]:active {
    background-color: #F27C38;
}

