.return-btn {
    font-size: var(--font-size-button-md);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 7px 8px 5px;
    border-radius: 5px;
    transition: 0.2s;
}

.return-btn:hover {
    background-color: var(--color-grey-background);
    transition: 0.2s;
}

.content-card {
    margin-top: 20px;
    color: var(--color-secondary);
}
