@import url("/css/vars.css");

.default-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    background-color: var(--color-secondary-background);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.default-header img {
    width: 70px;
    padding: 0 50px;
}

.default-header h2 {
    font-size: 24px;
    color: var(--color-primary);
    text-transform: uppercase;
    padding: 0 50px;
}