* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #DDDDDD;
    -webkit-font-smothing: antialiased !important;
    /*melhora a qualidade da fonte*/
}


.sidebar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    height: 100%;
    padding: 40px 10px 30px 30px;
    border-right: 1px solid #F29820;
    transition: all 0.35s;
    background-color: #F29829;

}

.sidebar-header {
    width: 100%;
    margin-bottom: 10px;
}

.logo-img {
    width: 120px;
    min-width: 120px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.30s;
    margin-left: 5px;
    align-items: center;
    justify-items: center;
}

.logo-img:hover {
    transform: scale(1.5);
}

.sidebar button {
    height: 60px;
    background: transparent;
    border: 10px;
    font-family: inherit;
    font-weight: bold;
    color: #391959;
    cursor: pointer;
    text-align: left;
    padding: 0;
}

.sidebar button>span {
    display: inline-flex;
    align-items: center;
    height: 40px;
    width: 140px;
    padding: 0 60px 0 12px;
    border-radius: 10px;
    line-height: 1;
    transition: all 0.2s;
}

.sidebar button:hover>span {
    background-color: rgba(242, 124, 56, 0.3);
}

.sidebar button span {
    font-size: 16px;
}

.sidebar>nav {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main {
    padding: 0 0 15px 150px;
    overflow: hidden;
}

@media (width < 920px) {
    .sidebar {
        width: 115px;
    }

    .main {
        transition: margin 0.2s;
        margin-left: 125px;
    }
}

.button-mobile {
    display: none;
    align-self: flex-start;
    align-items: center;
    margin: 16px;
    background-color: transparent;
    color: #000000;
    border: 0;
}

.button-mobile span {
    font-size: 22px;
    margin-left: 8px;
}

.menu-mobile {
    display: none;
}

.menu-mobile-active {
    width: 100vw;
    height: 100vh;
    background-color: #F4F4F4;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.menu-mobile-active button {
    background: transparent;
    border: 0;
    color: inherit;
    margin-bottom: 16px;
}

.menu-mobile-active button>span {
    display: inline-flex;
    align-items: center;
}

.mobile-text {
    font-size: 22px;
}

@media (max-width: 480px) {
    .sidebar {
        display: none;
    }

    .button-mobile {
        display: flex;
    }

    .main {
        margin-left: 30px;
    }
}












li {
    list-style: none;
}

header {
    width: 100%;

    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2);
}

.main {
    max-width: 900px;
    margin: 0 auto;
}

div.newPost {
    width: 100%;
    height: 250px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px 0;
    padding: 25px;

    background: #DDDDDD;
    border-radius: 50px;
    border: 3px solid #F29829;
}

div.newPost div.infoUser {
    display: flex;
    align-items: center;
    justify-content: center;

}


div.newPost div.infoUser div.imgUser {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #391959;
}


div.newPost div.infoUser strong {
    font-size: 16px;
    margin-left: 10px;
    color: #391959;
}


div.newPost form.formPost {
    display: flex;
    flex-direction: column;
    width: 100%;
}


div.newPost form.formPost textarea {
    height: 100px;
    background: #fbfbfb;
    margin: 10px 0;
    padding: 25px;
    border-radius: 10px;
    resize: none;
    outline: none;
    border: 0;

    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}

div.newPost form.formPost div.iconsAndButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


div.newPost form.formPost div.iconsAndButton div.icons {
    width: 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.newPost form.formPost div.iconsAndButton div.icons button {
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 15px;
    border: 0;
    background: none;

    cursor: pointer;

}


div.newPost form.formPost div.iconsAndButton button.btnSubmitForm {
    background: #391959;
    padding: 10px 50px;
    color: #fbfbfb;
    font-weight: bold;
    outline: none;
    cursor: pointer;

    border: 0;
    border-radius: 10px;
    transition: background 0.2;
}

div.newPost form.formPost div.iconsAndButton button.btnSubmitForm:hover {
    background: #3A238C;
}

ul.posts li.post {
    margin-bottom: 50px;
    width: 100%;
    background: #fff;
    border-radius: 50px;
    padding: 25px;
    border: 2px solid #F29829;
}


ul.posts li.post div.infoUserPost {
    display: flex;
    align-items: center;
}


ul.posts li.post div.infoUserPost div.nameAndHour {
    margin-left: 10px;
}

ul.posts li.post div.infoUserPost div.imgUserPost {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #391959;
}


ul.posts li.post div.infoUserPost div.nameAndHour>strong {
    color: #391959;
}


ul.posts li.post div.infoUserPost div.nameAndHour>p {
    color: #391959;
    font-size: 12px;
}

ul.posts li.post>p {
    width: 100%;
    margin: 20px 0;
    font-weight: bold;
    color: #727272;
}


ul.posts li.post div.actionBtnPost {
    display: flex;
    align-items: center;
}

ul.posts li.post div.actionBtnPost button.filesPost {
    padding: 5px 20px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    outline: none;
    color: #391959;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;

    transition: background 0.2s;
}


ul.posts li.post div.actionBtnPost button.filesPost img {
    margin-right: 5px;
}

.like {
    background: rgb(255, 255, 255);
}

.like:hover {
    background: palevioletred;
}

.comment {
    background: yellow;
}

.comment:hover {
    background: greenyellow;
}

.report {
    background: orange;
}

.report:hover {
    background: orangered;
}