* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #DDDDDD;
    -webkit-font-smothing: antialiased !important;
    /*melhora a qualidade da fonte*/
}

.main {
    padding: 0 0 15px 150px;
    overflow: hidden;
}

@media (width < 920px) {
    .main {
        transition: margin 0.2s;
        margin-left: 125px;
    }
}

@media (max-width: 480px) {
    .button-mobile {
        display: flex;
    }

    .main {
        margin-left: 30px;
    }
}


li {
    list-style: none;
}

.main {
    max-width: 1000px;
    margin: 0 auto;
}

div .newPost {
    width: 100%;
    height: 250px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px 0;
    padding: 25px;

    background: #DDDDDD;
    border-radius: 50px;
    border: 3px solid #F29829;
}

div.newPost div.infoUser {
    display: flex;
    align-items: center;
    justify-content: center;

}


/* div.newPost div.infoUser div.imgUser {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #391959;
} */


div.newPost div.infoUser strong {
    font-size: 16px;
    margin-left: 10px;
    color: #391959;
}


div.newPost form.formPost {
    display: flex;
    flex-direction: column;
    width: 100%;
}


div.newPost form.formPost textarea {
    height: 90px;
    background: #fbfbfb;
    margin: 10px 0;
    padding: 7px;
    border-radius: 10px;
    resize: none;
    outline: none;
    border: 0;

    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}

div.newPost form.formPost input {
    height: 30px;
    background: #fbfbfb;
    margin: 3px 0;
    padding: 7px;
    border-radius: 10px;
    resize: none;
    outline: none;
    border: 0;

    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}

div.newPost form.formPost div.iconsAndButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


div.newPost form.formPost div.iconsAndButton div.icons {
    width: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.newPost form.formPost div.iconsAndButton div.icons button {
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 15px;
    border: 0;
    background: none;

    cursor: pointer;

}


div.newPost form.formPost div.iconsAndButton button.btnSubmitForm {
    background: #391959;
    padding: 10px 50px;
    color: #fbfbfb;
    font-weight: bold;
    outline: none;
    cursor: pointer;

    border: 0;
    border-radius: 10px;
    transition: background 0.2;
}

div.newPost form.formPost div.iconsAndButton button.btnSubmitForm:hover {
    background: #3A238C;
}

ul.posts li.post {
    margin-bottom: 20px;
    width: 100%;
    background: #fff;
    border-radius: 50px;
    padding: 20px;
    border: 2px solid #F29829;
}


ul.posts li.post div.infoUserPost {
    display: flex;
    align-items: center;
}


ul.posts li.post div.infoUserPost div.nameAndHour {
    margin-left: 10px;
}

/* ul.posts li.post div.infoUserPost div.imgUserPost {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #391959;
} */


ul.posts li.post div.infoUserPost div.nameAndHour>strong {
    color: #391959;
}


ul.posts li.post div.infoUserPost div.nameAndHour>p {
    color: #391959;
    font-size: 12px;
}

ul.posts li.post>p {
    width: 100%;
    margin: 20px 0;
    font-weight: bold;
    color: #727272;
}


ul.posts li.post div.actionBtnPost {
    display: flex;
    align-items: center;
}

ul.posts li.post div.actionBtnPost a.styleFont {
    color: #391959;
}

ul.posts li.post div.actionBtnPost button.filesPost {
    padding: 5px 20px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    outline: none;
    color: #391959;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;

    transition: background 0.2s;
}


ul.posts li.post div.actionBtnPost button.filesPost img {
    margin-right: 5px;
}

.like {
    background: rgb(255, 255, 255);
}

.like:hover {
    background: palevioletred;
}

.comment {
    background: yellow;
}

.comment:hover {
    background: greenyellow;
}

.report {
    background: orange;
}

.report:hover {
    background: orangered;
}