body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    background-image: url('../img/fundo.png');
    background-size: cover;
    background-position: relative;
    background-repeat: no-repeat;
}

form {
    background-color: #f29829;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(128, 0, 128, 0.6);
    max-width: 80%;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin-top: 100px;
}


form input {
    display: block;
    margin: 0 0 15px 0;
    padding: 10px 25px;
    width: 100%;
}


legend {
    color: #3a238c;
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 30px;
}


input {
    width: 90%;
    padding: 10px;
    margin: 0.5em 0;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    align-items: center;
    font-weight: bold;
}

.normal-input {
    font-family: inherit;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
}


p {
    text-decoration: none;
    color: #3a238c;
    font-size: 15px;
    margin: 0 0 0;
}

.sublinhado {
    text-decoration: underline;
}

.sublinhado:hover {
    color: black;
}

.nao-sublinhado {
    text-decoration: none;
    font-size: 15px;
}

.nao-sublinhado:hover {
    color: black;
}




input[type="submit"] {
    width: 150px;
    height: 50px;
    margin: 10px auto;

    padding: 0 0;
    background-color: #f29829;
    color: #3a238c;
    border: 3px solid #3a238c;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}

input[type="password"] {

    margin-bottom: -5px;

}


input[type="submit"]:hover {
    background-color: #F27C38;
}


input[type="submit"]:active {
    background-color: #F27C38;
}