@import url("/css/vars.css");

.sidebar {
    width: 250px;
    height: 100vh;
    border-right: 1px solid var(--color-primary);
    transition: all 0.35s;
    background-color: var(--color-secondary-background);
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 0 10px;
    position: fixed;
    left: 0;
}

.sidebar-header {
    width: 100%;
    margin-bottom: 10px;
}

.sidebar a {
    width: 100%;
}

.sidebar .menu-wrapper {
    width: 100%;
}

.logo-button {
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: center;
}

.logo-button img {
    width: 80px;
    transition: 0.2s;
}

.logo-button:hover img {
    width: 90px;
    transition: 0.2s;
}

.menu-buttons {
    width: 100%;
    display: grid;
    gap: 5px;
    text-align: left;
}

.menu-buttons a {
    border: 10px;
    color: #391959;
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 10px;
    background: transparent;
    transition: 0.2s;
    width: 100%;
    text-decoration: none;
}

.menu-buttons a:hover {
    background-color: rgba(242, 124, 56, 0.3);
}

.menu-buttons a>span {
    color: var(--color-primary);
    font-size: 16px;
}

.line {
    border-top: 1px solid var(--color-primary-transparent);
    width: 82%;
    justify-self: center;
}


/* Responsiveness Section */

#sidemenu-btn {
    width: 100%;
    padding: 20px 0;
    background-color: unset;
    border: none;
    cursor: pointer;
    display: none;
}

#sidemenu-btn img {
    width: 30px;
}

@media (max-width: 750px) {
    #sidemenu-btn {
        display: block;
    }

    .sidebar {
        width: fit-content;
        padding: 0 15px;
    }

    .sidebar .menu-wrapper {
        width: 0;
        white-space: nowrap;
        overflow: hidden;
    }

    .opened {
        width: 100%;
        padding: 0 15px;
        overflow-y: auto;
    }

    .opened .menu-wrapper {
        width: 100%;
    }

    .line {
        border-top: 1px solid var(--color-primary-transparent);
        width: 100%;
        justify-self: center;
    }
}
