.posts-list-title {
    color: var(--color-secondary);
    font-size: var(--font-size-h1);
    margin: 20px 25px;
}

.posts {
    color: var(--color-secondary);
    display: grid;
    gap: 10px;
}

.posts .user-info {
    display: flex;
    align-items: center;
}

.posts .user-info img {
    width: 25px;
}

.posts .user-info .user-name {
    font-size: var(--font-size-subtitle);
    margin-left: 5px;
    padding-top: 3px;
}

.posts .title {
    font-size: var(--font-size-title);
    margin: 15px 0 5px;
}

.posts .image {
    margin-bottom: 10px;
}

.posts .post-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--color-primary);
    padding: 10px 0 0;
    margin-top: 30px;
    align-items: center;
}

.posts .post-footer .action-buttons {
    display: flex;
    align-items: center;
    gap: 5px;
}

.posts .post-footer .action-buttons a {
    color: var(--color-secondary);
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 5px 8px;
    border-radius: 5px;
    transition: 0.2s;
}

.posts .post-footer .action-buttons a:hover {
    background-color: var(--color-grey-background);
    transition: 0.2s;
    gap: 5px;
}

.posts .post-footer .action-buttons a span {
    font-size: var(--font-size-button-sm);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.6px;

    width: 0;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.2s;
}

.posts .post-footer .action-buttons a:hover span {
    width: 70px;
    transition: 0.2s;
}

.posts .post-footer .action-buttons img {
    width: 20px;
}