@import url("/css/vars.css");

.div-form-profile{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.div-form-profile-{
  display: flex;
  justify-content: center;
  width: 80vh;
  height: auto;
  background-color: var(--color-secondary-background);
  padding: 5rem 0rem;
  border-radius: 5rem;
}

.div-profile-input{
  margin-bottom: 30px;
}

.div-form-profile h1{
  font-weight: bold;
  color: var(--color-primary);
}

.div-form-profile label{
  color: var(--color-primary);
  font-weight: bold;
  margin-right: 0.3rem;
}

.div-form-profile input{
  padding: 0.5em 1.5rem;
  border-radius: 3rem;
}

.div-form-profile a{
  text-decoration: none;
  color: white;
}


.div-form-profile a:hover {
  background-color: #604f3b;
  transition-duration: 1s;
}

.button-alterar{
  padding: 1rem 3rem;
  color: var(--color-secondary-background);
  background-color: var(--color-primary);
  font-weight: bold;
}

.button-alterar:hover {
  background-color: #604f3b;
  transition-duration: 1s;
}







