@import url("/css/vars.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font);
}


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

h2,
h3 {
  margin-inline-start: center;
  text-align: center;
  color: #000000;
}

.allign-form {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.div-monitoring-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 14%;
  margin-bottom: 0.5rem;
  margin-top: 5rem;
}

.div-monitoring-text h3 {
  color: var(--color-secondary);
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary-background);
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  width: 30rem;
  text-align: center;

  /*height: 20px auto;*/
}

.form2 {
  float: CENTER;
  text-align: center;
  border-radius: 30px;
  background-color: transparent;
}

.img-file {
  width: 100%;
  height: 1rem;
}

input[type="text"],
textarea {
  width: 50%;
  border-radius: 30px;
  font-family: Arial, sans-serif;

}

textarea {
  height: 100px;
}

.preview-image- {
  display: flex;
  justify-content: center;
  align-items: center;
}


.image-upload {
  position: relative;
}

.image-upload input[type="file"] {
  opacity: 0;
  position: relative;
  cursor: pointer;
  border-radius: 8px;
  width: 0%;
  height: 50%;
  /* Reduz a altura para 50% do tamanho original */
}

.image-upload label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background-color: var(--color-primary);
  color: #ffffff;
  border-radius: 2rem;
  cursor: pointer;
}

#title {
  padding: 0.5rem 2rem;
}

.image-upload-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-upload-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testeIm {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.8rem;
}


button {
  padding: 0.5rem 1.5rem;
  background-color: var(--color-primary);
  color: #391959;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  cursor: pointer;
  margin: 1rem auto;
}

.btnDelete {
  padding: 10px 30px;
  background-color: var(--color-primary);
  color: #efebf3;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  height: 30%;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  font-size: 16px;
}

.publication-container {
  width: 100vh;
  background-color: #fff;
  margin-bottom: 2rem;
  padding: 20px;
  border-radius: 20px;
  border: 3px solid var(--color-primary);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 12rem;
}

.nameAndHour {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.nameAndHour-title {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 1rem;
}

.nameAndHour-title h2 {
  display: flex;
  justify-content: baseline;
  margin-right: 1rem;
  color: var(--color-secondary);
}


.div-image-sche {
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-image-sche {
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-data {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  padding: 1rem 2rem;
}

.div-data p {
  color: var(--color-secondary);
}

.image-container {
  width: 90%;
  /* Ajuste conforme necessário */
  max-width: 100%;
  /* Ajuste conforme necessário */
  overflow: hidden;
  /* Garante que a imagem não ultrapasse o contêiner */
  border-radius: 10px;
}

.image-container img {
  width: 100%;
  /* Garante que a imagem ocupe 100% da largura do contêiner */
  object-fit: cover;
  /* Mantém a proporção da imagem e a corta se necessário */
}


.publication-details {
  margin-top: 20px;
}

.btnDelete {
  padding: 10px 20px;
  background-color: #391959;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnDelete:hover {
  background-color: #ffa600;
  color: #391959;
}

.div-button-delete {
  display: flex;
  justify-content: center;
  align-items: center;
}