@import url("/css/vars.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

.div-text-alunos {
    margin-top: 2rem;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
}

.box-search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var();
    width: 20rem;
    height: 50px;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    border: 2px solid var(--color-secondary-background);
}

input {
    width: 14rem;
    border: none;
    outline: none;
    background: none;
}


section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.container {
    width: 40rem;
    height: 12rem;
    display: block;
    justify-content: space-between;
    align-items: center;
    border: 7px solid var(--color-primary);
    border-radius: 3.5rem;
    padding: 1.5rem;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    gap: 0.5rem;
    font-weight: 600;
}

.row-organized {
    display: flex;
    align-items: center;
}

.button {
    background-color: var(--color-primary);
    color: var(--color--text);
    padding: 0.3rem 1rem;
    border-radius: 4rem;
}

.button:hover {
    background-color: var(--color-secondary-background);
    transition: 1s;
}

.button:hover a {
    color: var(--color-primary);
}


.row2 {
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.button-arquive {
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--color-primary);
    border-radius: 2rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.button-arquive:hover {
    background-color: var(--color-secondary-background);
    transition: 1s;
}

.button-arquive:hover path {
    fill: var(--color-primary);
}

.row p {
    margin-top: 2rem;
}